
* {
  font-family: "JetBrains Mono Nerd Font";
  border: none;
  border-radius: 0px;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(1,1,1,1);
  border-bottom: 0px solid #fff;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  background: inherit;
}

button:hover {
  background: inherit;
}

#workspaces {
  color: #000;
  margin: 3px;
  padding: 1px 1px;
  border-radius: 15px;
  background-color: #fff;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
  color: #000;
  padding: 0px 4px;
  margin: 2px 2px;
  border-radius: 20px;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #FFF;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: #B0B0B0;
}

#workspaces button.active:hover {
  color: #FFF;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

#window {
  color: #FFF;
  margin-right: 10px;
  font-size: 16px;
}

#clock {
  background-color: #FFF;
  color: #000;
  margin: 3px;
  padding: 3px 10px;
  border-radius: 15px;
  border: 2px solid #fff;
}

#tray menu {
  background-color: #000;
  color: #000;
  padding: 5px 6px;
  border-radius: 15px
}

#pulseaudio {
  background-color: #FFF;
  color: #000;
  margin: 3px;
  padding: 3px 10px;
  border-radius: 15px;
  border: 2px solid #fff;
}

#pulseaudio.muted {
  color: #F00;
}

#language {
  background-color: #FFF;
  color: #000;
  margin: 3px;
  padding: 3px 10px;
  border-radius: 15px;
}

#memory,
#network,
#cpu {
  color: #fff;
  text-shadow: black 0px 0px 2px;
  margin-right: 5px;
  margin-left: 5px;
}
